<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About YourBlog</h1>
            <h3>What is Yourblog?</h3>
            <hr>
            <p>
              <strong class="text-danger">YourBlog</strong> is a blogging website. Users can create their own blogs and can read other's blogs. To get started, simply
              <a href="/register">sign up</a>.
            </p>
            <p>
              This project was made during a web development internship under Autumn Leaves Solutions. YourBlog was created using Node.js, Express, and MongoDB.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and add photos and videos to their blog</li>
              <li>Users can review blogs, and edit or remove their review</li>
              <li>User profiles have more information on the user, such as their full name, join date, Blog, and the option to edit their profile or delete their account</li>
              <li>Search blog by name</li>
              <li>Sort blogs by Topic, most reviewed etc</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>