<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <title>YourBlog - Lauren Ipsum</title>
</head>

<% include ./partials/header %>

<body>
  <!-- <div class="container">
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% } %>
        <% if(success && success.length > 0) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <% } %>
  </div> -->

  <div id="landing-header">
    <h1 class="display-3">Dive deeper on topics that matter to you.</h1>
    <h2 class="h4 text-center" id="subhead">Create a unique and beautiful blogs. It’s easy and free.</h2>
    <div class="container" id="btn">
    <a href="/blogs" class="btn btn-danger btn-lg">View blogs</a>
    <a href="/login" class="btn btn-light btn-lg">Log In</a>
    </div>
  </div>


  <section id = "two">
        
    <div class = "col-md-12 text-center">
        <div class="tags">
    <span>Science</span>
    <span>Technology</span>
    <span>Health</span>
    <span>Lifestyle</span>
    <span>Work</span>
    <span>Food</span>
    <span>Programming</span>
    <span>Design</span>
    <span>Culture</span>
    <span>Business</span>
    <span>Future</span>
    <span>Medicine</span>
    <span>Neuroscience</span>
    <span>MentalHealth</span>
    <span>Relationships</span>
    <span>Economy</span>
    <span>Covid</span>
    <span>Clothes</span>
    <span>Life</span>
    </div>
    </div>
</section>

<section id = "three">
  <h1>Join millions of others</h1>
  <div class="col d-flex justify-content-center">
  <div class="card text-center" id="card" style="width: 18rem;">
    <p class="card-body" id="card-text">
        You can share your expertise, <br>breaking news, or whatever’s on<br>your mind, 
        you’re in good company <br>on YourBlog. Sign up to discover <br>to new ideas and get new perspective <br>on anything.
    </p>  
  </div>
  </div>


  <div id = "getStarted" class = "col-md-12 text-center ">
    <button type="button" class="btn btn-warning btn-lg shadow-lg">Start Your Own Blog</button>
</div>

</section>



  <!-- <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script>
    // ScrollReveal().reveal('.jumbotron-text', { duration: 2000 });
    ScrollReveal().reveal('.indexCards', {
      interval: 150, mobile: true,
    });

    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script> -->
</body>

</html>